@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");

/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
/* @import "tailwindcss/utilities"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
.sans {
  @apply bg-slate-50 text-slate-800 min-h-screen font-nunito tracking-wide relative;
}

.zoom-dark {
  @apply z-50;
}

.medium-zoom--opened .medium-zoom-overlay {
  @apply z-50;
}

.medium-zoom-image.medium-zoom-image--opened {
  width: auto !important;
}

/* 
  * Utilities 
  */
.heading {
  @apply flex flex-col items-center tracking-wide;
}

.heading .main {
  @apply font-extrabold text-2xl
  
  lg:text-3xl;
}

.heading .description {
  @apply text-slate-500;
}

.btn {
  @apply bg-gradient-to-br from-cyan-600 to-cyan-500 text-slate-50 px-8 py-3 text-sm font-bold rounded-2xl tracking-wide;
}

/* 
  * Header 
  */
.header {
  @apply shadow-sm sticky inset-0 z-20 bg-slate-50 bg-opacity-95;
}

.navbar {
  @apply container mx-auto flex items-center justify-between;
}

.navbar .logo {
  @apply py-4;
}

.navbar .logo .logo-image {
  @apply w-auto h-8
  

  md:w-auto md:h-12;
}

.navbar .search {
  @apply relative hidden
  
  md:block;
}

.navbar .search .input {
  @apply text-xs px-8 py-3 rounded-full w-96 outline-none shadow-sm;
}

.navbar .search .btn {
  @apply py-2 px-2;
}

.navbar .search .btn-search {
  @apply absolute top-2 right-2;
}

.navbar .search .icon {
  @apply w-3 h-3;
}

.navbar .menu {
  @apply flex items-center space-x-4;
}

.navbar .menu .item.search {
  @apply block md:hidden;
}

.navbar .menu .item .link .icon {
  @apply w-5 h-5  
  
  sm:w-6 sm:h-6;
}

/* 
  * Footer 
  */
.footer {
  @apply pt-16 container mx-auto flex flex-col items-center;
}

.footer .logo .icons {
  @apply h-16 w-auto
    
    sm:h-20;
}

.footer .brand {
  @apply pt-2 pb-4 text-lg font-extrabold
    
    sm:text-xl;
}

.footer .menu {
  @apply flex items-center space-x-6 text-sm text-slate-800
    
    sm:text-base sm:space-x-12
    
    lg:space-x-16;
}

.footer .social {
  @apply pt-6 pb-8 flex items-center space-x-3
    
    sm:space-x-6;
}

.footer .social .item .link .icon {
  @apply w-5 h-5
    
    sm:w-6 sm:h-6;
}

.footer .copyright {
  @apply text-sm py-6 border-t border-slate-200 w-full text-center;
}

/* 
  * Hero 
  */
.hero {
  @apply h-96 relative flex items-center justify-center
  
  sm:h-[28rem]
  
  lg:h-screen;
}

.hero .text {
  @apply flex flex-col items-center text-slate-50 justify-center relative z-10;
}

.hero .text .location {
  @apply text-xs bg-slate-800 bg-opacity-25 px-4 py-1 rounded-2xl
  
  md:text-sm

  lg:text-base lg:-mt-24;
}

.hero .text .tagline {
  @apply pt-3 pb-6 text-3xl w-11/12 text-center font-extrabold tracking-wider
  
  sm:text-4xl sm:w-8/12
  
  lg:text-5xl;
}

.hero .image {
  @apply absolute h-full w-full inset-0 z-0;
}

.hero .image .overlay {
  @apply absolute inset-0 w-full h-full;
  background: linear-gradient(
    180deg,
    rgba(30, 41, 59, 0.5) 0%,
    rgba(30, 41, 59, 0.35) 25%,
    rgba(30, 41, 59, 0.25) 50%,
    rgba(248, 250, 252, 1) 100%
  );
}

.hero .image .photo {
  @apply h-full w-full object-cover;
}

/* 
  * Tours 
  */

.tours {
  @apply pt-32 pb-16 flex flex-col items-center justify-center;
}

.tours .cards {
  @apply container mx-auto py-8 space-y-12 
  
  sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 sm:px-8

  lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8 lg:gap-y-12 lg:px-8;
}

.tours .cards .item {
  @apply relative;
}

.tours .cards .item .cta {
  @apply absolute inset-0 w-full h-full;
}

.tours .cards .item .image {
  @apply relative;
}

.tours .cards .item .image .photo {
  @apply rounded-2xl;
}

.tours .cards .item .image .wrapper .tour-photo {
  @apply block;
}

.tours .cards .item .image .wrapper .tour-photo {
  @apply rounded-2xl;
}

.tours .cards .item .tag {
  @apply flex items-center justify-between absolute z-30 top-0 left-0 w-full p-4;
}

.tours .cards .item .tag .content-text {
  @apply text-xxs font-bold border-[1.5px] border-slate-50 text-slate-50 px-2 py-1 bg-slate-800 bg-opacity-30 rounded-xl;
}

.swiper-slide {
  @apply rounded-2xl;
}

.swiper-pagination-bullet-active {
  @apply bg-white bg-opacity-100;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-white bg-black bg-opacity-25 border-white w-6 h-6 rounded-full;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply text-xxs font-bold;
}

.tours .cards .item .image .slider {
  @apply flex items-center space-x-1 absolute bottom-4 left-1/2 -translate-x-1/2 z-50;
}

.tours .cards .item .image .slider .icon-slider {
  @apply w-[6px] h-[6px] bg-white bg-opacity-50 rounded-full cursor-pointer;
}

.tours .cards .item .image .slider .icon-slider.active {
  @apply bg-opacity-100;
}

.tours .cards .item .image .caret {
  @apply w-full px-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center justify-between;
}

.tours .cards .item .image .caret .icon {
  @apply w-8 h-8 hidden md:block;
}

.tours .cards .item .card-text .title-location {
  @apply border-b border-slate-200 py-4;
}

.tours .cards .item .card-text .title-location .title {
  @apply pb-4 font-bold text-lg tracking-wide;
}

.tours .cards .item .card-text .title-location .location {
  @apply text-slate-500;
}

.tours .cards .item .card-text .title-location .location .tag-location {
  @apply text-xxs font-bold uppercase;
}

.tours .cards .item .card-text .title-location .location .list {
  @apply text-sm;
}

.tours .cards .item .card-text .price-day {
  @apply py-4 flex items-center justify-between;
}

.tours .cards .item .card-text .price-day .price {
  @apply text-sm;
}

.tours .cards .item .card-text .price-day .price .nominal {
  @apply font-bold text-base;
}

.tours .cards .item .card-text .price-day .price .people {
  @apply text-slate-500;
}

.tours .cards .item .card-text .price-day .day {
  @apply text-sm text-slate-500;
}

/* 
  * Benefit 
  */
.benefit {
  @apply py-16 container mx-auto 

  sm:px-8;
}

.benefit .list {
  @apply grid grid-cols-2 gap-x-2 gap-y-8 py-8
  
  sm:gap-x-8
  
  lg:grid-cols-4;
}

.benefit .list .item {
  @apply flex flex-col items-center justify-center;
}

.benefit .list .item .image {
  @apply p-4;
}

.benefit .list .item .text .head {
  @apply text-center font-semibold pb-2
  
  sm:font-bold;
}

/* 
  * Testimony 
  */
.testimony {
  @apply container mx-auto py-16 flex flex-col items-center;
}

.testimony .cards {
  @apply py-8 space-y-8

  sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-8
  
  lg:grid-cols-3;
}

.testimony .cards .item {
  @apply relative border border-slate-200 p-6 h-72 rounded-3xl
  sm:h-80;
}

.testimony .cards .item .top {
  @apply flex items-center justify-between border-b border-slate-200 pb-4;
}

.testimony .cards .item .top .author {
  @apply flex items-center space-x-2;
}

.testimony .cards .item .top .author .photo {
  @apply w-12 h-12 border border-slate-200 rounded-full;
}

.testimony .cards .item .top .author .text .name {
  @apply text-sm font-bold;
}

.testimony .cards .item .top .author .text .occupation {
  @apply text-xs;
}

.testimony .cards .item .top .rating {
  @apply flex items-center space-x-1;
}

.testimony .cards .item .top .rating .number {
  @apply text-sm font-bold;
}

.testimony .cards .item .top .rating .star {
  @apply w-4 h-4;
}

.testimony .cards .item .center {
  @apply text-sm py-4 text-slate-600;
}

.testimony .cards .item .bottom {
  @apply absolute bottom-4 flex items-center space-x-2;
}

.testimony .cards .item .bottom .instagram {
  @apply w-6 h-6;
}

/* 
  * Social Media 
  */
.social-media {
  @apply py-16 flex flex-col items-center;
}

.social-media .photos {
  @apply container mx-auto grid grid-cols-2 gap-x-3 gap-y-4 pt-8 pb-10
  
  sm:px-8 sm:gap-x-6 sm:gap-y-8
  
  md:grid-cols-3;
}

.social-media .photos .image {
  @apply w-full h-full;
}

.social-media .photos .image img {
  @apply w-full h-full object-cover rounded-2xl;
}

/* DETAILS */

.divider {
}

.divider .line {
  @apply w-full h-[0.5px] bg-slate-200;
}

.dt-wrapper {
  @apply container mx-auto grid grid-cols-1 relative h-full

  md:grid-cols-12 md:gap-x-10;
}

.dt-wrapper .dt-left {
  @apply col-span-1 md:col-span-8 relative;
}

/* Photos */
.dt-photos {
  @apply relative px-0 py-0
  
  md:py-8 md:container md:mx-auto;
}

.dt-photos .dt-images {
  @apply md:grid md:grid-cols-3 md:grid-rows-6 md:gap-2 md:h-96;
}

.dt-photos .dt-images .dt-image {
  @apply block rounded-none
  
  md:block md:w-full md:h-full md:object-cover md:rounded-xl md:row-span-6;
}

.dt-photos .dt-images .swiper {
  @apply hidden;
}

.dt-photos .dt-images .dt-image:not(:first-child) {
  @apply block
  
  md:block;
}

.dt-photos .dt-images .dt-image:nth-child(1) {
  @apply col-span-1 row-start-1 row-end-4;
}

.dt-photos .dt-images .dt-image:nth-child(2) {
  @apply col-span-1 row-start-4 row-end-7;
}

.dt-photos .slider .icon {
  @apply w-1.5 h-1.5;
}

.dt-photos .slider {
  @apply absolute bottom-4 left-1/2 -translate-x-1/2 flex items-center space-x-1
  
  md:hidden;
}

/* Basic Info */
.dt-basic-info {
  @apply py-8
  
  md:pb-8 md:pt-0;
}

.dt-basic-info .title {
  @apply text-lg font-bold text-slate-800 pb-4
  
  md:text-2xl;
}

.dt-basic-info .location {
  @apply text-slate-600;
}

.dt-basic-info .location .tag {
  @apply text-xxs uppercase font-extrabold
  
  md:text-xs;
}

.dt-basic-info .location .list {
  @apply text-sm
  
  md:text-base;
}

/* Tour Guide */
.dt-tour-guide {
  @apply py-6;
}

.dt-tour-guide .heading-tg {
  @apply text-left font-extrabold text-xxs uppercase text-slate-600 pb-2
  
  sm:text-xs;
}

.dt-tour-guide .wrapper {
  @apply flex items-center justify-between w-full;
}

.dt-tour-guide .wrapper .info {
  @apply flex items-center space-x-2;
}

.dt-tour-guide .wrapper .info .image {
  @apply w-12 h-12;
}

.dt-tour-guide .wrapper .info .image .photo {
  @apply w-full h-full object-cover rounded-full;
}

.dt-tour-guide .wrapper .info .text .name {
  @apply font-bold;
}

.dt-tour-guide .wrapper .info .text .occupation {
  @apply text-xs font-semibold text-slate-600;
}

.dt-tour-guide .wrapper .rate {
  @apply flex items-center space-x-1;
}

.dt-tour-guide .wrapper .rate .number {
  @apply font-extrabold text-sm;
}

/* Itinerary */

.dt-itinerary {
  @apply py-8;
}

.heading-iti {
  @apply mb-4 text-lg font-bold text-slate-800;
}

.dt-itinerary .lists {
  @apply space-y-4
  
  sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-4 sm:gap-y-6
  
  md:gap-x-6;
}

.dt-itinerary .lists .item .heading-iti-deta {
  @apply flex items-center space-x-2 pb-2;
}

.dt-itinerary .lists .item .heading-iti-deta .day {
  @apply font-semibold text-sm
  
  md:text-base;
}

.dt-itinerary .lists .item .desc {
  @apply text-sm text-slate-600;
}

/* Feature */

.dt-feature {
  @apply py-8;
}

.dt-feature .cards {
  @apply space-y-4 

  sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-4 sm:gap-y-6;
}

.dt-feature .cards .item {
  @apply flex items-start space-x-3
  
  sm:space-x-0 sm:flex-col sm:space-y-3;
}

.dt-feature .cards .item .icons {
  @apply w-6 h-6
  
  sm:w-8 sm:h-8;
}

.dt-feature .cards .item .text {
  @apply flex flex-col items-start;
}

.dt-feature .cards .item .text .heading {
  @apply font-semibold pb-1;
}

.dt-feature .cards .item .text .desc {
  @apply text-sm text-slate-600;
}

/* Terms */

.dt-terms {
  @apply py-8;
}

.dt-terms .lists {
  @apply space-y-4
  
  sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-4 gap-y-3;
}

.dt-terms .lists .item {
  @apply flex items-center space-x-2;
}

.dt-terms .lists .item .desc {
  @apply text-sm;
}

/* Book Now */

.dt-wrapper .dt-book-now {
  @apply col-span-1 sticky bottom-0 left-0 px-4
  
  md:h-[28rem] md:col-span-4 md:px-0 md:sticky md:top-24 z-0;
}

.dt-book-now {
  @apply bg-slate-50 bg-opacity-95 w-full py-4 border-t
  
  md:border-none md:px-0;
}

.dt-book-now .wrapper {
  @apply flex flex-row items-center justify-between
  
  md:p-6 md:flex-col md:items-start md:border md:border-slate-200 md:rounded-xl md:shadow-md
  
  lg:p-8;
}

.dt-book-now .wrapper .text .title {
  @apply hidden md:block md:text-lg lg:text-xl mb-4 font-bold;
}

.dt-book-now .wrapper .text .for-med {
  @apply hidden md:grid md:grid-cols-1 md:grid-flow-row
  
  lg:grid-cols-2 lg:gap-x-2;
}

.dt-book-now .wrapper .text .for-med .item {
  @apply mb-4;
}

.dt-book-now .wrapper .text .for-med .item .tag {
  @apply mb-2 text-xxs uppercase font-bold text-slate-600;
}

.dt-book-now .wrapper .text .for-med .item .wrapper-item {
  @apply mb-2 flex items-center space-x-2;
}

.dt-book-now .wrapper .text .for-med .item .wrapper-item .icon {
  @apply w-5 h-5;
}

.dt-book-now .wrapper .text .for-med .item .wrapper-item .text {
  @apply text-xs font-semibold;
}

.dt-book-now .wrapper .text .price {
  @apply text-sm text-slate-600
  
  md:text-base;
}

.dt-book-now .wrapper .text .price .big {
  @apply text-base font-bold text-slate-800 
  
  md:pb-4;
}

.dt-book-now .wrapper .text .day-night {
  @apply text-xs text-slate-600
  
  md:text-sm md:pb-4;
}

.dt-book-now .wrapper .cta {
  @apply w-auto
  
  md:w-full;
}

.dt-book-now .wrapper .cta button {
  @apply flex items-center space-x-1
  
  md:w-full md:justify-center;
}

.dt-book-now .wrapper .cta .btn {
  @apply py-3 px-6 font-semibold;
}

.dt-book-now .wrapper .cta .btn .icon {
  @apply w-5 h-5;
}
